*{
    margin: 0 ;
    padding: 0;
}

.backgroundPic{
    background : url(../pics/HomepageBackground.jpg) no-repeat;
    background-position: top;
    background-size: cover;
    overflow: hidden;
    background-blend-mode: overlay;
    width: 100%;
    height: 500px;
    
}

h1.header {
    text-align: left ;
    color: white;
    font : century;
    font-family: 'Raleway', sans-serif;
    margin-left: 3% ;
    font-size: 25px;
    text-decoration: none;
}

a.logo{

    text-decoration: none;
    float:left;
    
    
}
.search{
    height: 40px;
    width: 40px;
    
}

.buttons{
    float: right;
    margin-bottom: 1px;
}
.btn{
    border : 50px ;
    font-size: 20px;
    border-radius: 20px;
    height: 40px;
    width: 200px;
    font-family: 'Raleway', sans-serif;
    margin: 10px;
    cursor: pointer;
}

.signIn,.signUp,.aboutUs.contactUs{
    color: black;
}


div ul li{
    display: inline-block;
}
div ul li button{
    text-decoration: none;
    font-size: 16px;
    color:black;
    letter-spacing: 1px;

}
span button{
    margin-left: 40%;
    margin-top: -15%;
    background-color:#206B64;
    color: white;
    border: 15px solid #206B64;
    border-radius: 40px;
    font-family: 'Raleway';

}

.au{
    margin-top: 100px;
    margin-right: 150px;
    width: 30%;
    height: 110%;
    float: right;
    
}
.au h1{
    font-family: 'Raleway', sans-serif;
}
.au h2{
    font-size: 120%;
    line-height: 30px;
    font-family: Raleway;
}

.weddingpics img{
    height: 350px;
    width: 300px;
}
img.wp1{
    margin-left: 100px;
    margin-top: 50px;
    position: relative;
    z-index: 2;

}
img.wp2{
    margin-left: 350px;
    margin-top: -100px;
    position: relative;
    z-index: 1;

    
}
img.wp3{
    margin-left: 100px;
    margin-top: -100px;
    position: relative;
    z-index: 3;
}
.weddingpics{
    margin-top: 100px;
    width: 50%;
    float: left;
    
}
.hiw{
    margin-top: 1150px;
    margin-left: 40%;
    font-family:'Raleway', sans-serif;
}

.howitworks{
    width: 100%;
    height: auto;
    background:white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}
.hiw1{
    width: 25%;
    height: 300px;
    background: white;
    margin: 20px;
    font-size: 25px; 
    box-sizing: border-box;
    border:1px solid #555555;
    border-radius: 50px;
    font-family:'Raleway', sans-serif;
    text-align: center;
}
.hiw2{
    width: 25%;
    height: 300px;
    background: white;
    margin: 20px;
    font-size: 25px; 
    box-sizing: border-box;
    border:1px solid #555555;
    border-radius: 50px;
    font-family:'Raleway', sans-serif;
    text-align: center;
}
.hiw3{
    width: 25%;
    height: 300px;
    background: white;
    margin: 20px;
    font-size: 25px; 
    box-sizing: border-box;
    border:1px solid #555555;
    border-radius: 50px;
    font-family:'Raleway', sans-serif;
    text-align: center;
}
.pic1{
    border:1px solid #000000;
    border-radius: 70%;
    margin-left: 20px;
    margin-top: 20px;
}
.pic2{
    border:1px solid #000000;
    border-radius: 70%;
    margin-left: 20px;
    margin-top: 20px;
}
.pic3{
    border:1px solid #000000;
    border-radius: 70%;
    margin-left: 20px;
    margin-top: 20px;
}
.cu{
    margin-top: 100px;
    margin-left: 40%;
    font-family:'Raleway', sans-serif;
}
.conus{
    width: 100%;
    height: 50%;
    background:white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.cu1{
    width: 30%;
    height: 400px;
    background: black;
    margin: 20px;
    font-size: 25px;
    border: 1px solid #555555;
    border-radius: 60px;
    background-color: white;
    opacity: 90%;
    color: black;
    text-align: center;
    font-family: 'raleway';

}
.cu2{
    width: 40%;
    height: 400px;
    background: white;
    margin: 20px;
    font-size: 10px;
    color: black;
    font-family: 'raleway' ; 
    text-align: center;
    
}
input.Submit{
    color:white;
    background-color: rgba(253, 0, 0, 0.555);
    opacity: 80%;
    border: none;
    width: 100px;
    height: 50px;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    font-family: 'raleway' bold;

} 
input{
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 40px;
    color:black;
    font-size: 16px;
    font-family: 'raleway' ;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.su{
    margin-top: 100px;
    font-family: 'Raleway' ;
    font-size: 25px;

}
.ty{
    margin-top: 100px;
    font-family: 'Raleway' ;
    font-size: 35px;

}